# Pandas

앞으로 가장 많이 사용하게 될 파이썬 라이브러리 중 하나

2010년에 오픈소스로 공개

Pandas : 고수준의 자료구조 및 파이썬에서 빠르고 쉽게 사용할 수 있는

data 분석도구가 포함
<hr>
pandas랑 함께 사용하는 라이브러리...

* 산술 계산 도구 : Numpy, Scipy
* 분석 라이브러리 : Scikit-learn
* 시각화 도구 : matplotlib, seaborn

<hr>

Pandas vs Numpy

Numpy : 단일 산술 배열 데이터에 특화

Pandas : 표 형식의 데이터 or 다양한 형태의 데이터를 다루는데 특화

# Pandas는 R을 모티브로해서 만든 Python Library

데이터분석을 위해 수집, 전처리 등의 과정은 대부분 데이터프레임의 형태

데이터프레임은 행, 열로 이루어진 표를 의미

시리즈(Series)는 데이터프레임의 하위 자료형으로,

1개의 열이 시리즈이고, 이 시리즈들이 다수 모여서

데이터프레임을 형성한다!

In [1]:
import pandas as pd
from pandas import Series

# 1. 시리즈 (Series)

Series : 객체를 담을 수 있는 1차원 배열스러운 자료구조

어떤 Numpy자료형도 가능 O

In [2]:
# 1-1. 딕셔너리로 만들기 (dict)
# 시리즈는 딕셔너리 구조와 비슷함
dic = {'a':1,'b':2,'c':3,'d':4}

series_dic = pd.Series(dic)
print(type(series_dic))
series_dic
# 딕셔너리의 key값이 인덱스(index)로, value값이 값으로

<class 'pandas.core.series.Series'>

a    1
b    2
c    3
d    4
dtype: int64

In [3]:
# 인덱스와 값은 아래처럼 확인
print(series_dic.index)
print(series_dic.values)

Index(['a', 'b', 'c', 'd'], dtype='object')
[1 2 3 4]

In [5]:
# 직접 만들기도 O
# 1-2. 리스트로 만들기

obj = pd.Series([4,5,-4,-5])
obj
print(obj.index) # range(4)와 동일
print(obj.values)

# RangeIndex(start=0, stop=4, step=1)
# 샘플 데이터프레임을 만들 때 따로 인덱스를 입력하지 않았기 때문에 0부터 시작하는 인덱스가 부여(start = 0)
# 4개의 인덱스 (step=4) / 1씩 건너서 (step=1)

RangeIndex(start=0, stop=4, step=1)
[ 4  5 -4 -5]

In [6]:
obj2 = pd.Series([4,5,-5,-4], index=['a', 'b', 'c', 'd'])
obj2

a    4
b    5
c   -5
d   -4
dtype: int64

In [12]:
# 1-3. 튜플로 만들기
tup_data = ("Polarbear", " 2022-12-07", "남", True)
series_data = pd.Series(tup_data, index=["name", "date", "gender", "bool"])
series_data

name        Polarbear
date       2022-12-07
gender              남
bool             True
dtype: object

In [13]:
# 1-4 . 요소선택, 인덱싱
print(series_data[0])
print(series_data["name"])

Polarbear
Polarbear

In [14]:
#여러 값을 인덱싱 할 때 위에처럼 값만 반환하지 않고,
#짝을 이루는 인덱스와 값을 모두 반환

#888888888888888888888888888888888888주의할점
# 각각의 위치 or 이름으로 인덱싱할때는 대괄호를 2개를 씌워야함... [[]]
print(series_data[[1,2]])
print()
print(series_data[['date','bool']])

date       2022-12-07
gender              남
dtype: object

date     2022-12-07
bool           True
dtype: object

In [16]:
# : 로 인덱싱 할 때는 대괄호 하나만 필요
print(series_data[1:3])
print()
print(series_data["date" : "gender"])
#인덱스의 이름으로 사용하면 범위 끝이 포함됨

date       2022-12-07
gender              남
dtype: object

date       2022-12-07
gender              남
dtype: object

In [20]:
# Boolean배열을 사용해서 값 걸러내기 or 산술 연산 or 수학 함수 적용 O
obj2 = pd.Series([4,5,-5,-4], index=['a', 'b', 'c', 'd'])
print(obj2[obj2>0])
print()
print(obj2*2)
print()
print('b' in obj2)
print()
print('e' in obj2)

a    4
b    5
dtype: int64

a     8
b    10
c   -10
d    -8
dtype: int64

True

False

In [22]:
ticket = {'busan' : 30000,'jeju' : 50000,'jeonju' : 40000,'dajeon' : 55000}
ticketS = pd.Series(ticket)
ticketS

busan     30000
jeju      50000
jeonju    40000
dajeon    55000
dtype: int64

In [23]:
city = ['seoul','busan', 'jeju', 'jeonju']
a = pd.Series(ticket,index = city)
a # dajeon이 key로 없어서 안 들어간걸 알 수 있다,.

seoul         NaN
busan     30000.0
jeju      50000.0
jeonju    40000.0
dtype: float64

In [25]:
# 누락된 것 찾을 떄
pd.isnull(a)

seoul      True
busan     False
jeju      False
jeonju    False
dtype: bool

In [24]:
a.isnull()

seoul      True
busan     False
jeju      False
jeonju    False
dtype: bool

In [27]:
# 누락되지 않은 것 찾을 때
pd.notnull(a)
a.notnull()

seoul     False
busan      True
jeju       True
jeonju     True
dtype: bool

# 2. 데이터프레임 (DataFrame)

데이터프레임은 시리즈가 여러개 합쳐진 자료형

표, 엑셀과 같은 스프레드시트 형식의 자료구조

다양한 컬럼이 있고, 각각의 컬럼 안에는 서로 다른 종류의 

자료형(숫자, 문자열, 논리,...)이 담김

DataFrame : row(행), column(열)에 대한 index를 가지고 있음

In [28]:
# 2-1. 딕셔너리로 만들기
dict_data = {'c0' : [1,2,3], 'c1' : [4,5,6], 'c2' : [7,8,9], 'c3' : [10,11,12]}
# 1개의 열들이 1개의 시리즈, key : 열 이름 
df = pd.DataFrame(dict_data)

print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2  c3
0   1   4   7  10
1   2   5   8  11
2   3   6   9  12

In [29]:
# 2-2. 리스트로 만들기 1
#   같은 길이의 리스트에 담긴 dict or numpy를 이용

data = { 'time' : ['morning', 'afternoon', 'evening'],
          'startHour' : [6,12,18],
          'behavior' : ['getup', 'lunch', 'gohome']
          }
data1 = pd.DataFrame(data)
data1

        time  startHour behavior
0    morning          6    getup
1  afternoon         12    lunch
2    evening         18   gohome

In [31]:
# 원하는 순서대로 columns을 지정하면, 그 순서대로 df 객체가 생성
pd.DataFrame(data, columns=['time', 'behavior','startHour'])

        time behavior  startHour
0    morning    getup          6
1  afternoon    lunch         12
2    evening   gohome         18

In [35]:
# 2-2. 리스트로 만들기 2
df = pd.DataFrame([[21,'남자', '00대'], [20,'여자', 'ㅁㅁ대']],
                  index = ["Lim", "Kim"],
                  columns = ['age', 'gender', 'school'])

print(df)
print(df.index)
print(df.columns)
df

     age gender school
Lim   21     남자    00대
Kim   20     여자    ㅁㅁ대
Index(['Lim', 'Kim'], dtype='object')
Index(['age', 'gender', 'school'], dtype='object')

     age gender school
Lim   21     남자    00대
Kim   20     여자    ㅁㅁ대

In [36]:
# 2-3. 행, 열 이름 변경 : 기본적인 방식

df.index = ['student1', 'student2']
df.columns = ['나이','성별', '학교']
df

# 인덱스(index)와 열(colmns) 이름의 수에 맞게 지정해 주기!!

          나이  성별   학교
student1  21  남자  00대
student2  20  여자  ㅁㅁ대

In [37]:
# 2-4. 행, 열 이름 변경 : rename() 함수
# df.rename()
# df.rename(columns={변경전 열이름 : 변경 후 열이름, ...}, inplace = True)로 사용할 수 있고,
# inplace = True 옵션을 지정해주면 df에 바로 적용됨

df = pd.DataFrame([[21,'남자', '00대'], [20,'여자', 'ㅁㅁ대']],
                  index = ["Lim", "Kim"],
                  columns = ['age', 'gender', 'school'])
df

     age gender school
Lim   21     남자    00대
Kim   20     여자    ㅁㅁ대

In [38]:
# 열 이름 변경
df.rename(columns={'age' : '연령', 'gender' : '성별', 'school' : '소속'}, inplace=True)
df

     연령  성별   소속
Lim  21  남자  00대
Kim  20  여자  ㅁㅁ대

In [40]:
# 행 이름 변경 => index=로 지정
df.rename(index={'Lim' : 'Hwang', 'Kim' : 'Ahn'}, inplace=True)
df

       연령  성별   소속
Hwang  21  남자  00대
Ahn    20  여자  ㅁㅁ대

# 행 삭제 : drop() 함수

In [48]:
exam_data = {'math' : [90,80,70], 'korean' : [98,89,95], 'english' : [85,95,100], 'history' : [100,90,90]}
df = pd.DataFrame(exam_data, index=['student1','student2','student3'])
df

          math  korean  english  history
student1    90      98       85      100
student2    80      89       95       90
student3    70      95      100       90

In [49]:
# drop("행 or 열 이름", axis = 0 or 1,inplace = True)
# 행을 삭제하려면 axis = 0(기본값)
# 열을 삭제하려면 axis = 1 << 꼭 지정 !!!!

df2 = df.copy()

df2.drop('student1', inplace=True)
df2

          math  korean  english  history
student2    80      89       95       90
student3    70      95      100       90

In [50]:
# 열 삭제
# 2개 이상의 열을 drop하고 싶으면 대괄호[] 안에 명시
df3 = df.copy()

df3.drop(['math', 'history'],axis = 1, inplace=True)
df3

          korean  english
student1      98       85
student2      89       95
student3      95      100

# 데이터프레임 인덱싱 : loc / iloc 함수

loc와 iloc는 가장 많이 사용되는 함수

데이터 전처리 할 때 인덱싱이 가장 많이 사용되기 때문!

loc는 이름으로, iloc는 숫자로 인덱싱

In [51]:
city = pd.DataFrame({'korea' : ['Seoul', 'Jeju', 'Bucheon'],
                     'US' : ['LA','California','Boston'],
                     'UK' : ['London','Liverpool','cambridge'],
                     'China' : ['Shanghai','Beijing','Chingtao']
                     }, index = ['A','B','C'])
city

     korea          US         UK     China
A    Seoul          LA     London  Shanghai
B     Jeju  California  Liverpool   Beijing
C  Bucheon      Boston  cambridge  Chingtao

In [53]:
first = city.loc['A']
print(first)
print()
second = city.iloc[1]
print(second)

korea       Seoul
US             LA
UK         London
China    Shanghai
Name: A, dtype: object

korea          Jeju
US       California
UK        Liverpool
China       Beijing
Name: B, dtype: object

In [54]:
city.ndim # 차원(랭크)

2

In [55]:
city.shape # (행,열)

(3, 4)

In [56]:
len(city) # 행의 개수

3

In [57]:
city.size # data의 개수

12

In [58]:
print(city.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, A to C
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   korea   3 non-null      object
 1   US      3 non-null      object
 2   UK      3 non-null      object
 3   China   3 non-null      object
dtypes: object(4)
memory usage: 228.0+ bytes
None

In [61]:
exam_data = {'math' : [90,80,70], 'korean' : [98,89,95], 'english' : [85,95,100], 'history' : [100,90,90]}
df = pd.DataFrame(exam_data, index=['kim','lee','park'])
df

      math  korean  english  history
kim     90      98       85      100
lee     80      89       95       90
park    70      95      100       90

In [68]:
# kim과 lee의 점수 출력
print(df.iloc[:2])
print(df.loc[:'lee'])
# 두개 이상의 행을 선택할 때는 대괄호를 신경써야...!
# 각각 선택은 두개[[]] / 범위 (:)로 선택은 한개
l1= df.loc[['kim','lee']]
print(l1)
p1 = l1= df.iloc[[0,1]]
print(p1)

     math  korean  english  history
kim    90      98       85      100
lee    80      89       95       90
     math  korean  english  history
kim    90      98       85      100
lee    80      89       95       90
     math  korean  english  history
kim    90      98       85      100
lee    80      89       95       90
     math  korean  english  history
kim    90      98       85      100
lee    80      89       95       90

In [ ]:
#열 선택
# 열 선택은 따로 함수가 필요 x
# df. 열이름 or df['열이름']으로 선택이 가능

In [69]:
# 수학 열만 선택
math1 = df['math']
print(math1)

print()

math2 = df.math
print(math2)

kim     90
lee     80
park    70
Name: math, dtype: int64

kim     90
lee     80
park    70
Name: math, dtype: int64

In [70]:
# 범위 슬라이싱
exam_data = {'name' : ['Oh','Woo','Ah','Ha','Kim','Lee','Park'], 
             'math' : [98,89,95,80,70,40,30], 
             'eng' : [100,80,70,85,100,60,100],
             'kor' : [98,90,90,70,60,50,60],
             'pt' : [98,95,90,100,40,70,80]}
df = pd.DataFrame(exam_data)
df

   name  math  eng  kor   pt
0    Oh    98  100   98   98
1   Woo    89   80   90   95
2    Ah    95   70   90   90
3    Ha    80   85   70  100
4   Kim    70  100   60   40
5   Lee    40   60   50   70
6  Park    30  100   60   80

In [73]:
# 모든 행을 2행 간격으로 출력
print(df.loc[::2])

   name  math  eng  kor  pt
0    Oh    98  100   98  98
2    Ah    95   70   90  90
4   Kim    70  100   60  40
6  Park    30  100   60  80

In [74]:
# 0행부터 5행까지 2행 간격으로 출력
print(df.iloc[0:6:2])

  name  math  eng  kor  pt
0   Oh    98  100   98  98
2   Ah    95   70   90  90
4  Kim    70  100   60  40

In [77]:
# 전체 데이터 역순 정렬 > 모든 행을 -1행 간격
print(df.iloc[::-1])
print(df.loc[::-1])

   name  math  eng  kor   pt
6  Park    30  100   60   80
5   Lee    40   60   50   70
4   Kim    70  100   60   40
3    Ha    80   85   70  100
2    Ah    95   70   90   90
1   Woo    89   80   90   95
0    Oh    98  100   98   98
   name  math  eng  kor   pt
6  Park    30  100   60   80
5   Lee    40   60   50   70
4   Kim    70  100   60   40
3    Ha    80   85   70  100
2    Ah    95   70   90   90
1   Woo    89   80   90   95
0    Oh    98  100   98   98

In [ ]:
# 요소 선택
# set_index() 함수 : 특정한 열을 인덱스로 부여해주는 함수

In [80]:
exam_data = {'name' : ['Oh','Woo','Ah','Ha','Kim','Lee','Park'], 
             'math' : [98,89,95,80,70,40,30], 
             'eng' : [100,80,70,85,100,60,100],
             'kor' : [98,90,90,70,60,50,60],
             'pt' : [98,95,90,100,40,70,80]}
df = pd.DataFrame(exam_data)
df.set_index('name', inplace=True)
df

      math  eng  kor   pt
name
Oh      98  100   98   98
Woo     89   80   90   95
Ah      95   70   90   90
Ha      80   85   70  100
Kim     70  100   60   40
Lee     40   60   50   70
Park    30  100   60   80

In [81]:
# loc, iloc 행/열 선택과정에서
# 두 개 이상의 행이나 두 개 이상의 열을 선택하려면 [[]]을 이용
# ... 하나의 대괄호만 [] 쓴다면...?
df.loc['Ha','kor'] # 70 -> (ha,kor)에 있는 값 하나

70

In [82]:
# 해당하는 요소 하나를 가져오라는 의미!
df.iloc[3,2]

70

In [99]:
# Ah의 eng, kor 점수를 위에서 한 4가지 방법을 이용해서 출력
print(df.loc['Ah','eng':'kor'])
print()
print(df.iloc[2,1:3])
print()
print(df.loc['Ah',['eng','kor']])
print()
print(df.iloc[[2],[1,2]])

eng    70
kor    90
Name: Ah, dtype: int64

eng    70
kor    90
Name: Ah, dtype: int64

eng    70
kor    90
Name: Ah, dtype: int64

      eng  kor
name
Ah     70   90

In [101]:
# Oh, Woo의 kor,pt 점수를 4가지 방법으로 출력
print(df.loc['Oh':'Woo','kor':'pt'])
print()
print(df.iloc[0:2,1:3])
print()
print(df.loc[['Oh','Woo'],['kor','pt']])
print()
print(df.iloc[[0,1],[2,3]])
print(df.iloc[0:1,2:4])

      kor  pt
name
Oh     98  98
Woo    90  95

      eng  kor
name
Oh    100   98
Woo    80   90

      kor  pt
name
Oh     98  98
Woo    90  95

      kor  pt
name
Oh     98  98
Woo    90  95
      kor  pt
name
Oh     98  98

In [102]:
# 행, 열 추가
# 열 추가는 df['새로운 열이름'] = 값의 형태로 추가
# 새로운 열 이름이 아니라 기존 열 이름이라면... -> 덮어씌워진다.

exam_data = {'name' : ['Oh','Woo','Ah','Ha','Kim','Lee','Park'], 
             'math' : [98,89,95,80,70,40,30], 
             'eng' : [100,80,70,85,100,60,100],
             'kor' : [98,90,90,70,60,50,60],
             'pt' : [98,95,90,100,40,70,80]}
df = pd.DataFrame(exam_data)

df['music'] = 80
df

   name  math  eng  kor   pt  music
0    Oh    98  100   98   98     80
1   Woo    89   80   90   95     80
2    Ah    95   70   90   90     80
3    Ha    80   85   70  100     80
4   Kim    70  100   60   40     80
5   Lee    40   60   50   70     80
6  Park    30  100   60   80     80

In [104]:
exam_data = {'name' : ['Oh','Woo','Ah','Ha','Kim','Lee','Park'], 
             'math' : [98,89,95,80,70,40,30], 
             'eng' : [100,80,70,85,100,60,100],
             'kor' : [98,90,90,70,60,50,60],
             'pt' : [98,95,90,100,40,70,80]}
df = pd.DataFrame(exam_data)
#요소 값 변경하기
df.loc[3] = 10 # 단일 값을 넣는다면 => 행 전체에는 모두 다 그  값으로 채워짐
df.loc[4] = ['Wa',100,100,100,100] # 행 또는 열의 수에 맞게 요소를 변경 / 추가
df.loc[7] = ['asdf',50,50,50,50] # 새로운 행 추가
df

   name  math  eng  kor   pt
0    Oh    98  100   98   98
1   Woo    89   80   90   95
2    Ah    95   70   90   90
3    10    10   10   10   10
4    Wa   100  100  100  100
5   Lee    40   60   50   70
6  Park    30  100   60   80
7  asdf    50   50   50   50

In [105]:
# 행과 열 바꾸는 : 전치행렬 transpose() 함수, T
exam_data = {'name' : ['Oh','Woo','Ah','Ha','Kim','Lee','Park'], 
             'math' : [98,89,95,80,70,40,30], 
             'eng' : [100,80,70,85,100,60,100],
             'kor' : [98,90,90,70,60,50,60],
             'pt' : [98,95,90,100,40,70,80]}
df = pd.DataFrame(exam_data)

print(df)
print()
df = df.transpose()
print(df)

df = df.T
print(df)
# 전치를 두번하면 원상태로 돌아옴!

   name  math  eng  kor   pt
0    Oh    98  100   98   98
1   Woo    89   80   90   95
2    Ah    95   70   90   90
3    Ha    80   85   70  100
4   Kim    70  100   60   40
5   Lee    40   60   50   70
6  Park    30  100   60   80

        0    1   2    3    4    5     6
name   Oh  Woo  Ah   Ha  Kim  Lee  Park
math   98   89  95   80   70   40    30
eng   100   80  70   85  100   60   100
kor    98   90  90   70   60   50    60
pt     98   95  90  100   40   70    80
   name math  eng kor   pt
0    Oh   98  100  98   98
1   Woo   89   80  90   95
2    Ah   95   70  90   90
3    Ha   80   85  70  100
4   Kim   70  100  60   40
5   Lee   40   60  50   70
6  Park   30  100  60   80