## 서울시에서 공개한 코로나19 발생동향 분석
* http://www.seoul.go.kr/coronaV/coronaStatus.do

In [1]:
# 필요한 라이브러리를 불러옵니다.
import pandas as pd

In [3]:
# 크롤링으로 가져올 url 주소를 입력합니다.

url = "http://www.seoul.go.kr/coronaV/coronaStatus.do"
url

'http://www.seoul.go.kr/coronaV/coronaStatus.do'

In [ ]:
"""
최근 확진자가 증가하면서 read_html 로 데이터를 불러올 때 3~5분 정도의 시간이 소요됩니다.
최대 10분까지 걸릴 수 있으며 오류 메시지가 표시되지 않는 한 데이터가 로드 될 때까지 기다려주세요! 
"""

In [40]:
# 판다스의 read_html 을 통해 위 url에 있는 불러옵니다.

table = pd.read_html(url)
len(table)   # 몇개의 table 을 가져 왔는지 확인

6

In [62]:
# table 변수 안에 있는 table 태그의 값을 하나씩 읽어보며 확진자 목록이 있는 테이블을 가져옵니다.
df = table[0] 
#df.shape

In [65]:
# read_html 은 사이트 내의 html 태그를 불러옵니다.

# table[0]   #  0 ~ 5 번까지 테이블  확인 가능  변경하면서 테스트 하세요. 

df = table[0].transpose()  # table[0].T
df

           0      1     2       3      4
강남구   166533   +956  서대문구   98449   +519
강동구   151297   +864   서초구  128530   +706
강북구    92485   +473   성동구   97817   +515
강서구   185077  +1231   성북구  142740   +668
관악구   162877   +854   송파구  215190  +1069
광진구   117040   +644   양천구  143770   +866
구로구   136062   +773  영등포구  136093   +716
금천구    78081   +397   용산구   67283   +329
노원구   167652   +970   은평구  147635   +918
도봉구   101195   +503   종로구   44762   +210
동대문구  115869   +637    중구   40537   +170
동작구   130491   +684   중랑구  125375   +623
마포구   120732   +684    기타  201560  +1139

In [66]:
#pint(df[[2,3,4]])
df = df[[2,3,4]].set_index(2)
# df.set_index(2, inplace=True)
df = df.T

In [67]:
# 미리보기 합니다.

df.head()

2,서대문구,서초구,성동구,성북구,송파구,양천구,영등포구,용산구,은평구,종로구,중구,중랑구,기타
3,98449,128530,97817,142740,215190,143770,136093,67283,147635,44762,40537,125375,201560
4,+519,+706,+515,+668,+1069,+866,+716,+329,+918,+210,+170,+623,+1139

In [79]:
df.iloc[1]
#df.loc[4]

2
서대문구     +519
서초구      +706
성동구      +515
성북구      +668
송파구     +1069
양천구      +866
영등포구     +716
용산구      +329
은평구      +918
종로구      +210
중구       +170
중랑구      +623
기타      +1139
Name: 4, dtype: object

In [89]:
df.head()

2,서대문구,서초구,성동구,성북구,송파구,양천구,영등포구,용산구,은평구,종로구,중구,중랑구,기타
3,98449,128530,97817,142740,215190,143770,136093,67283,147635,44762,40537,125375,201560
4,+519,+706,+515,+668,+1069,+866,+716,+329,+918,+210,+170,+623,+1139

In [92]:
# reindex() : index를 재정의 한다. 
# rename() : index 명 변경['누적확진자', '추가확진자']
df = df.rename(index={3: '누적확진자', 4:'추가확진자'})
df

2,서대문구,서초구,성동구,성북구,송파구,양천구,영등포구,용산구,은평구,종로구,중구,중랑구,기타
누적확진자,98449,128530,97817,142740,215190,143770,136093,67283,147635,44762,40537,125375,201560
추가확진자,+519,+706,+515,+668,+1069,+866,+716,+329,+918,+210,+170,+623,+1139

In [90]:
# 파일명을 만들어 줍니다.
# file_name
file_name = f"seoul_covid19_test.csv"
file_name

'seoul_covid19_test.csv'

In [95]:
# csv 파일로 저장합니다.
df.to_csv(file_name)
#df.to_csv(file_name, index=False)  이결과를 각가 비교 필요

In [96]:
# 제대로 저장되었는지 확인합니다.
pd.read_csv(file_name)

,서대문구,서초구,성동구,성북구,송파구,양천구,영등포구,용산구,은평구,종로구,중구,중랑구,기타
0,98449,128530,97817,142740,215190,143770,136093,67283,147635,44762,40537,125375,201560
1,519,706,515,668,1069,866,716,329,918,210,170,623,1139

이 실습이 끝나면 위 목록 중